.container {
    border-color: rebeccapurple;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
}