.container {
    border-style: dotted;
    border-width: 2px;
    border-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactButton {
    width: 200px;
    height: 200px;
    display: flex;
    background-color: transparent;
}