.container {
    border-style:dashed;
    border-width: 5px;
    border-color: rebeccapurple;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactButton {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.contactButton img {
    max-width: 100%;
    max-height: 100%;
}