.container {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    display: flex;
}

.projectContainer {
    height: 100px;
    max-width: 300px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none
}

.projectContainer img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.projectContainer p {
    margin: 0;
    font-size: 14px;
    object-fit: contain;
    color: wheat;
    text-align: center;
}

.projectPreview {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border-style: solid;
    border-color: rebeccapurple;
    width: 400px;
    height: 600px;
    padding: 15px;
    position: absolute;
    top: 200px;
    right: 50px;
    word-break: break-word;
    font-size: large;
}