.container {
    border-color: rebeccapurple;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectsContainer {
    flex-direction: row;
    width: 500px;
    display: flex;
}

.projectContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.projectContainer:hover {
    transform: scale(1.05);
}

.projectContainer img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.projectContainer p {
    margin: 0;
    font-size: 14px;
    object-fit:contain;
    color: rebeccapurple;
    text-align: center;
}