html {
  --s: 160px; /* control the size*/
  --c1: #291525;
  --c2: #26122b;
  --c3: #341834;
  
  background:
    conic-gradient(from  15deg at 86.6%,
      var(--c3) 25%,var(--c2) 0 150deg,#0000 0),
    conic-gradient(from -75deg at 50% 13.39%,
      var(--c1) 60deg,var(--c3) 0 150deg,
      var(--c2) 0 210deg,#0000 0),
    conic-gradient(from 15deg at 36.6% 63.4%,
     var(--c1) 60deg,var(--c3) 0 150deg,
     var(--c1) 0 210deg,var(--c2) 0 75%,var(--c3) 0);
  background-size: var(--s) var(--s);
}
#root {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.buttonBar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
}

.songPlayButton {
  position: absolute;
  bottom: 100px;
  left: 150px;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  border-radius: 100%;
}

.changeSongButton {
  position: absolute;
  bottom: 100px;
  left: 250px;
  padding: 0;
  border-radius: 100%;
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicNote {
  position: absolute;
  bottom: 100px;
  left: 100px;
  padding: 0;
  border-radius: 100%;
  background: none;
  background-color: rebeccapurple;
  border-radius: 300px;
}

.songPlayButtonImage {
  background-color: rebeccapurple;
  border-radius: 300px;
}

button:focus { outline: none; }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
